:root {

    --hero-primary: #b08d57;
    --hero-dark: #2b2b2b;
    --hero-light: #f5f3ee;
    --hero-text: #333333;
    
}



body {
    font-family: 'Mona Sans', sans-serif;
    background-color: var(--hero-light);
    color: var(--hero-text);
    line-height: 1.6;
}


.navbar,
footer {
    background-color: var(--hero-dark);
}

.btn-primary {
    background-color: var(--hero-primary);
    border-color: var(--hero-primary);
}

.btn-primary:hover {
    background-color: #9a7848;
    border-color: #9a7848;
}

.nav-link:hover {
    text-decoration: underline;
}